footer{
    height: 50px;
    background: $bg_footer;
    border-top: 1px solid #eee;

    .container{
        display: flex;

        .footer-left{
            width: 50%;
            margin: 15px 0;

            ul{
                list-style-type: none;

                li{
                    display: inline-block;
                    font-size: 11px;
                    color: rgba(61,61,61,0.8);
                    margin-right: $small_space;
                    cursor: pointer;
                }
            }
        }

        .footer-right{
            width: 50%;
            margin: 15px 0;

            select{
                color: $color_dark;
                outline: 0;
                margin-left: $small_space;
            }

            i{
                margin-left: 390px;
                color: $color_link;
            }
        }
    }


}
