h2{
    color: $color_dark;
    margin: $big_space 0;
    font-size: 24px;
    line-height: 32px;
}

p{
    color: $color_parag;
    margin: $big_space 0;
    font-size: 14px;
    line-height: 24px;
}
