// general
$font_family: 'Roboto', sans-serif;
$big_space: 20px;
$small_space: 10px;
$color_light: #5f6368;
$color_dark: #3c4043;
$color_link: #3367d6;
$color_parag: rgba(0,0,0,0.87);
$bg_footer: #f5f5f5;
